# Root and folder env files
.env
.env.*

# Backend secret service account keys
backend/*.json
serviceAccountKey.json

# Dist / build folders
/dist
/build

# Ignore Firebase admin private keys
serviceAccountKey.json
backend/serviceAccountKey.json
*.json.key

# Ignore backend node modules
backend/node_modules/

.DS_Store